{% extends "belege/base.j2" %}
{% load static %}
{% block xmlid %}xml:id="{{ object.dboe_id }}"{% endblock %}
{% block title %}{{ object.hauptlemma }}{% endblock %}
{% block entry %}
<entry>
    <form type="hauptlemma">
        <orth>{{ object.hauptlemma }}</orth>
    </form>
    <gramGrp>
        <pos>{{ object.pos }}</pos>
    </gramGrp>{% if object.nebenlemma %}
    <form type="nebenlemma">
        <orth>{{ object.nebenlemma }}</orth>
    </form>{% endif %}{% for x in object.lautungen.all %}
    <form type="lautung" n="{{ x.number }}" xml:id="{{ x.dboe_id }}">
        <pron xml:lang="{{ x.pron_lang }}" notation="teuthonista">{{ x.pron }}</pron>{% if x.pron_gram %}
        <gramGrp>
            <gram>{{ x.pron_gram }}</gram>
        </gramGrp>{% endif %}
    </form>{% endfor %}{% for x in object.lehnwoerter.all %}
    <form type="lehnwort" xml:id="{{ x.dboe_id }}" n="{{ x.number }}">
        <pron xml:lang="{{ x.pron_lang }}" notation="teuthonista">{{ x.pron }}</pron>
    </form>{% endfor %}{% for x in object.bedeutungen.all %}
    <sense corresp="{{ x.corresp_to }}" xml:id="{{ x.dboe_id }}" n="{{ x.number }}">
        <def xml:lang="{{ x.definition_lang }}">{{ x.definition }}</def>{% if x.note_anmerkung_o %}
        <note type="anmerkung" resp="O">{{ x.note_anmerkung_o }}</note>{% endif %}{% if x.note_anmerkung_b %}
        <note type="anmerkung" resp="O">{{ x.note_anmerkung_b }}</note>{% endif %}
    </sense>{% endfor %}{% for x in object.citations.all %}
    <cit type="kontext" n="{{ x.number }}" xml:id="{{ x.dboe_id }}">
        <quote xml:lang="{{ x.quote_lang }}">{{ x.quote_text }}</quote>{% if x.interpration %}
        <interp>{{ x.interpration }}</interp>{% endif %}{% if x.note_anmerkung_o %}
        <note type="anmerkung" resp="O">
            {{ x.note_anmerkung_o }}
        </note>{% endif %}{% if x.note_anmerkung_b %}
        <note type="anmerkung" resp="B">
            {{ x.note_anmerkung_b }}
        </note>{% endif %}{% for y in x.zusatz_lemma.all %}
        <re type="zusatzlemma" xml:id="{{ y.dboe_id }}">
            <form>
                <orth>{{ y.form_orth }}</orth>
            </form>
            <gramGrp>
                <pos>{{ y.pos }}</pos>{% if y.gram %}
                <gram>Z</gram>{% endif %}
            </gramGrp>
        </re>{% endfor %}{% if x.definition %}
        <def corresp="this:WBD/KT{{ x.number }}" xml:lang="{{ x.definition_lang }}">{{ x.definition }}</def>
        {% include 'belege/partials/definitions_wtags.j2' %}
        {% endif %}{% if x.fragebogen_nummer %}
        <ref type="fragebogenNummer">{{ x.fragebogen_nummer }}</ref>{% endif %}
    </cit>{% endfor %}{% if object.xr_type_verweise_o %}
    <xr type="verweise" resp="O">{{ object.xr_type_verweise_o }}</xr>{% endif %}{% if object.xr_type_verweise_b %}
    <xr type="verweise" resp="B">{{ object.xr_type_verweise_b }}</xr>{% endif %}{% for x in object.etym %}
    <etym resp="B">{{ x }}</etym>{% endfor %}{% for x in object.note_notabene %}
    <note type="notabene">{{ x }}</note>{% endfor %}{% if object.archivzeile %}
    <ref type="archiv">{{ object.archivzeile }}</ref>{% endif %}{% if object.quelle %}
    <ref type="quelle">{{ object.quelle }}{% if object.quelle_page %}<ref type="seite">{{ object.quelle_page }}</ref>{% endif %}</ref>{% endif %}{% if object.quelle_bearbeitet %}
    <ref type="quelleBearbeitet">{{ object.quelle_bearbeitet}}</ref>{% endif %}{% if object.fragebogen_nummer %}
    <ref type="fragebogenNummer">{{ object.fragebogen_nummer }}</ref>{% endif %}{% for x in object.note_diverse %}
    <note type="diverse" n="{{ forloop.counter }} ">{{ x }}</note>{% endfor %}{% for x in object.note_lautung.all %}
    <note type="anmkerung" resp="{{ x.resp }}" corresp="{{ x.corresp_to }}" xml:id="{{ x.dboe_id }}">{{ x.content }}</note>{% endfor %}{% if object.bibl %}
    <ref type="bibl" corresp="this:QDB">
        <bibl>{{ object.bibl }}</bibl>
    </ref>{% endif %}{% for x in object.zitierweise %}
    <ref type="zitierweise">
        <bibl>{{ x }}</bibl>
    </ref>{% endfor %}{% if object.ref_type_sni %}
    <ref type="sni">{{ object.ref_type_sni }}</ref>{% endif %}{% if object.ref_type_dbo %}
    <ref type="dbo">{{ object.ref_type_dbo }}</ref>{% endif %}
    {% include 'belege/partials/listplace.j2' %}
</entry>
{% endblock %}