{% extends "belege/base.j2" %}
{% load static %}
{% block xmlid %}xml:id="{{ object.dboe_id }}"{% endblock %}
{% block title %}{{ object.hauptlemma }}{% endblock %}
{% block entry %}
<entry>
    <form type="hauptlemma">
        <orth>{{ object.hauptlemma }}</orth>
    </form>
    <gramGrp>
        <pos>{{ object.pos }}</pos>
    </gramGrp>{% if object.nebenlemma %}
    <form type="nebenlemma">
        <orth>{{ object.nebenlemma }}</orth>
    </form>{% endif %}{% for x in object.lautungen.all %}
    <form type="lautung" n="{{ x.number }}" xml:id="{{ x.dboe_id }}">
        <pron xml:lang="{{ x.pron_lang }}" notation="teuthonista">{{ x.pron }}</pron>{% if x.pron_gram %}
        <gramGrp>
            <gram>{{ x.pron_gram }}</gram>
        </gramGrp>{% endif %}
    </form>{% endfor %}{% for x in object.bedeutungen.all %}
    <sense corresp="{{ x.corresp_to }}" xml:id="{{ x.dboe_id }}" n="{{ x.number }}">
        <def xml:lang="{{ x.definition_lang }}">{{ x.definition }}</def>{% if x.note_anmerkung_o %}
        <note type="anmerkung" resp="O">{{ x.note_anmerkung_o }}</note>{% endif %}{% if x.note_anmerkung_b %}
        <note type="anmerkung" resp="O">{{ x.note_anmerkung_b }}</note>{% endif %}
    </sense>{% endfor %}{% for x in object.citations.all %}
    <cit type="kontext" n="{{ x.number }}" xml:id="{{ x.dboe_id }}">
        <quote xml:lang="{{ x.quote_lang }}">{{ x.quote_text }}</quote>{% if x.interpration %}
        <interp>{{ x.interpration }}</interp>{% endif %}{% if x.definition %}{% if x.note_anmerkung_o %}
        <note type="anmerkung" resp="O">
            {{ x.note_anmerkung_o }}
        </note>{% endif %}{% if x.note_anmerkung_b %}
        <note type="anmerkung" resp="B">
            {{ x.note_anmerkung_b }}
        </note>{% endif %}
        <def corresp="this:WBD/KT{{ x.number }}" xml:lang="{{ x.definition_lang }}">{{ x.definition }}</def>{% endif %}{% if x.fragebogen_nummer %}
        <ref type="fragebogenNummer">{{ x.fragebogen_nummer }}</ref>{% endif %}
    </cit>{% endfor %}{% if object.archivzeile %}
    <ref type="archiv">{{ object.archivzeile }}</ref>{% endif %}{% if object.quelle %}
    <ref type="quelle">{{ object.quelle }}</ref>{% endif %}{% if object.quelle_bearbeitet %}
    <ref type="quelleBearbeitet">{{ object.quelle_bearbeitet}}</ref>{% endif %}{% if object.bibl %}
    <ref type="bibl" corresp="this:QDB">
        <bibl>{{ object.bibl }}</bibl>
    </ref>{% endif %}{% if object.ort %}
    <usg type="geo" corresp="this:QDB">
        <listPlace>
            <place type="Ort">
                <placeName>{{ object.ort.name }}</placeName>
                <region type="Kleinregion">
                    <placeName>{{ object.ort.kregion }}</placeName>
                    <idno type="sigle">{{ object.ort.kregion.sigle }}</idno>
                </region>
                <region type="Großregion">
                    <placeName>{{ object.ort.gregion }}</placeName>
                    <idno type="sigle">{{ object.ort.gregion.sigle }}</idno>
                </region>
                <region type="Bundesland">
                    <placeName>{{ object.ort.bundesland }}</placeName>
                    <idno type="sigle">{{ object.ort.bundesland.sigle }}</idno>
                </region>
                <idno type="sigle">{{ object.ort.sigle }}</idno>
            </place>
        </listPlace>
    </usg>{% endif %}
</entry>
{% endblock %}