{% extends "belege/base.j2" %}
{% load static %}
{% block xmlid %}xml:id="{{ object.dboe_id }}"{% endblock %}
{% block title %}{{ object.hauptlemma }}{% endblock %}
{% block entry %}
<entry>
    <form type="hauptlemma">
        <orth>{{ object.hauptlemma }}</orth>
    </form>
    <gramGrp>
        <pos>{{ object.pos }}</pos>
    </gramGrp>{% if object.nebenlemma %}
    <form type="nebenlemma">
        <orth>{{ object.nebenlemma }}</orth>
    </form>{% endif %}{% if object.archivzeile %}
    <ref type="archiv">{{ object.archivzeile }}</ref>{% endif %}{% if object.quelle %}
    <ref type="quelle">{{ object.quelle }}</ref>{% endif %}{% if object.quelle_bearbeitet %}
    <ref type="quelleBearbeitet">{{ object.quelle_bearbeitet}}</ref>{% endif %}{% if object.bibl %}
    <ref type="bibl" corresp="this:QDB">
        <bibl>{{ object.bibl }}</bibl>
    </ref>{% endif %}
</entry>
{% endblock %}