{% extends "base.html" %}
{% load static %}

{% block title %} About the Project{% endblock %}
{% block content %}
<div class="container pt-3">
    <h1 class="text-center">About the Project</h1>
    <p>
        This project provides a digital platform for annotating and exploring historical documents. Our web-based interface allows researchers and scholars to collaboratively analyze texts, add contextual information, and build comprehensive knowledge networks around historical sources.
    </p>
</div>
{% endblock %}