{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">DBÖ-Backend</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">A service to query and filter DBÖ records, group selected results in various collections
            and attach annotations to them.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'swagger-ui' %}" class="btn btn-primary btn-lg px-4 gap-3">API-DOCS</a>
            <a href="/api/" class="btn btn-outline-secondary btn-lg px-4">API-Endpoints</a>
            <a href="{% url 'belege:beleg-detail' pk='d144_153_qdbn-d16e129' %}"
                class="btn btn-outline-secondary btn-lg px-4">Sample TEI</a>
            <a href="{% url 'dboe_query_by_id' dboe_id='d144_153_qdbn-d16e129' %}?format=json"
                class="btn btn-outline-secondary btn-lg px-4">Elasticsearch</a>
            <a href="{% url 'belege-elastic-search-detail' pk='d144_153_qdbn-d16e129' %}?format=json"
                class="btn btn-outline-secondary btn-lg px-4">ES via Django</a>
            <a href="https://dboe-data.acdh-dev.oeaw.ac.at/restvle/dicts/_qdb-TEI-02/entries/d144_153_qdbn-d16e129"
                class="btn btn-outline-secondary btn-lg px-4">BaseX</a>
            <a href="/api/belege/?ids=b120_qdbn-d16e2,b120_qdbn-d16e30"
                class="btn btn-outline-secondary btn-lg px-4">Belege by IDs</a>
        </div>
    </div>
</div>
{% endblock %}